@charset "utf-8";
/* CSS Document */

html{-webkit-text-size-adjust:none; height:100%;}
body {font-size:12px;color:#FFFFFF;line-height:20px; margin:0; padding:0;  font-family:"Arial"; background:#000; height:100%}
img { border:0}
div,form,ul,ol,li,span,h1,h2,h3,h4,h5,h6,dl,dt,dd {border: 0;margin: 0;padding: 0;list-style-type:none}
.fz12,font,h2,h1 { font-size:12px; font-family:"微软雅黑","MicrosoftYaHei","Microsoft YaHei","Arial"}
h3,h4,h5 { font-weight:normal; font-size:12px}

#layout_auto{width:100%;height:auto;overflow:hidden;position:relative; min-height:550px}

a { outline:none;-moz-outline:none}
a:link {color:#FFFFFF;text-decoration: none}
a:visited {color:#FFFFFF;text-decoration: none}
a:active {color:#FFFFFF;text-decoration: none}
a:hover {color:#848484;text-decoration: none}
#clear { clear:both}
p { padding:0; margin:0;}
.w100 { width:1160px; margin:0 auto}
.tar { text-align:right}
.tal { text-align:left}
.tac { text-align:center}
.ft {float:left}
.fr {float:right}
#clear { clear:both}

.bottom { position:absolute; bottom:0; text-align:center; left:0; width:100%; z-index:99}
.body_s { position:absolute; left:0; top:0; height:100%; background:#000; width:100%; z-index:9998}
.index { position:absolute; top:40%; left:0; width:100%; text-align:center}
.index a { display:block}

.head { height:105px; max-width:1160px; min-width:800px; width:100%; margin:0 auto}
.head .head_l { padding-top:70px; width:400px}
.head .head_r { padding-top:15px; width:400px; text-align:right}

.head .head_l ul li { float:left; font-size:12px; padding-right:35px; position:relative}
.head .head_l ul li.nav_on a { color:#848484;}
.head .head_l ul li h3 { display:none; position:absolute; width:68px; text-align:center; background:#000000; left:-16px; line-height:24px; padding:5px 0; top:19px; z-index:7998}
.head .head_l ul li h3 a { display:block; color:#757575}
.head .head_l ul li h3 a:hover { color:#fff}
.head .head_l ul li h3 a.nav_a { color:#fff}

.head .head_r .links { padding-top:5px}
.head .head_r .links ul li { float:right; color:#B6B6B6; padding-left:15px; font-size:10px}
.head .head_r .links ul li a { color:#B6B6B6}
.head .head_r .links ul li a:hover {color:#fff;text-decoration: none}
.head .head_r .links ul li.link_on { background:url(../images/ico_1.png) no-repeat 0 2px; padding-left:20px; position:relative; cursor:pointer}
.head .head_r .links ul li.link_on h3 { display:none; position:absolute; background:#232323; top:19px; left:0; width:73px; z-index:78888; font-size:10px}
.head .head_r .links ul li.link_on h3 a { display:block; line-height:24px; text-align:center; padding-left:20px}
.head .head_r .links ul li.link_on h3 a.link_wb { background:url(../images/ico_2.png) no-repeat 10px -3px #232323}
.head .head_r .links ul li.link_on h3 a.link_wb:hover { background:url(../images/ico_2.png) no-repeat 10px -3px #000}
.head .head_r .links ul li.link_on h3 a.link_wx { background:url(../images/ico_2.png) no-repeat 10px -32px #232323}
.head .head_r .links ul li.link_on h3 a.link_wx:hover { background:url(../images/ico_2.png) no-repeat 10px -32px #000}

.works { height:466px; width:5200px; position:relative}
.works .bd { height:456px; overflow:hidden; position:absolute}
.works .bd ul { height:456px; width:204px; text-align:center; float:left; overflow:hidden}
.works .bd ul li { width:204px; height:114px; overflow:hidden; float:left; position:relative;}
.works .bd ul li span { display:none; width:204px; height:114px; position:absolute; background:url(../images/ico_3.png); left:0; top:0}
.works .bd ul li.work_at span { display:block}
.works .bd ul li a { display:block; height:113px; background:url(../images/over.png) no-repeat 92px 47px}
.works_hd { padding-top:10px; clear:both; width:100%; min-width:200px; max-width:1160px; margin:0 auto}
.works_hd a.next { cursor:pointer; display:block; float:right; padding-right:40px}
.works_hd a.prev { cursor:pointer; display:block; float:left; padding-left:40px}

.works2 { height:500px; width:100%; overflow:hidden; position:relative}
.works2 .bd { height:456px; overflow:hidden; position:absolute}
.works2 .bd ul { height:456px; width:204px; text-align:center; float:left}
.works2 .bd ul li { width:204px; height:114px; overflow:hidden; float:left; position:relative;}
.works2 .bd ul li span { display:none; width:204px; height:114px; position:absolute; background:url(../images/ico_3.png); left:0; top:0}
.works2 .bd ul li.work_at span { display:block}
.works2 .bd ul li a { display:block; height:113px; background:url(../images/dianying.png) no-repeat 87px 42px}
.works2 .hd { padding-top:10px}
.works2 .hd a.next { cursor:pointer; display:block; float:left;}
.works2 .hd a.prev { cursor:pointer; display:block; float:left; padding-left:40px}

.about { height:455px; background:url(../images/ico_5.png); min-width:1160px; margin:0 auto; margin-bottom:30px}
.about .about_cn { font-size:12px; font-weight:normal; color:#D0D0D0; width:1160px; margin:0 auto}
.about .about_cn .cn_text { padding-left:320px; padding-top:120px}

.contact { height:455px; background:url(../images/contact_bg.jpg); min-width:1160px; margin:0 auto; margin-bottom:30px}
.contact .contact_l { width:530px; padding-top:20px}
.contact .contact_r { width:190px; padding-top:85px;}
.contact .contact_l ul li { padding-bottom:15px}
.contact .contact_l ul li h3 { line-height:24px; color:#B2B2B2}
.contact .contact_l ul li .inp_1 { width:285px; background:#000; color:#ddd; border:0 none; height:26px; line-height:26px}
.contact .contact_l ul li .inp_2 { width:485px; padding:5px; background:#000; color:#ddd; border:0 none; line-height:20px}
.contact .contact_l ul li .inp_3 { width:75px; text-align:center; background:#000; color:#ddd; border:0 none; height:26px; line-height:26px; cursor:pointer}

.contact .contact_r h1 { font-size:12px; font-weight:normal; color:#B2B2B2; line-height:22px}
.contact .contact_r h3 { padding-top:160px; color:#B2B2B2}
.contact .contact_r h3 span { display:block; padding-left:35px; line-height:28px}
.contact .contact_r h3 span.h3_1 { background:url(../images/ico_2.png) no-repeat 10px -3px}
.contact .contact_r h3 span.h3_2 { background:url(../images/ico_2.png) no-repeat 10px -32px}

.baojia { height:454px; background:url(../images/baojia.jpg); min-width:1160px; margin:0 auto; margin-bottom:30px}
.baojia h3 { float:left; padding-top:195px;}
.baojia h1 { float:right; font-size:16px; font-weight:normal; padding-top:210px; width:265px}
.baojia h1 a { display:block; background:url(../images/baojia_2.jpg) left no-repeat; padding-left:50px;}

.price_cn { width:905px; height:568px; background:url(../images/price_cn.jpg); color:#464646;}
.price_cn .p_text { padding-left:120px; padding-right:120px; line-height:14px}
.price_cn h1 { color:#000000; padding-top:55px; padding-bottom:15px; font-size:12px; font-weight:normal}
.price_cn .p_text b { font-size:14px; font-weight:normal}
.price_cn .p_text strong { font-size:14px; font-weight:normal}

.shop_id { width:950px; height:571px; position:relative; background:url(../images/works_fd.jpg); overflow:hidden}
.shop_id .shop_bd { width:864px; height:486px; padding-top:40px; margin:0 auto;}
.shop_id .shop_bd ul li { width:864px; height:486px; text-align:center; position:relative}
.shop_id .shop_h3 h3 { color:#8A8A8A; text-align:left; padding-top:10px; padding-left:44px}
.shop_id .shop_h3 h3 b { color:#000}
.shop_id .shop_h3 h3 a { background:#858686; padding:3px 10px; color:#fff}

.shop_id .shop_hd {}
.shop_id .shop_hd ul { position:absolute; right:50px; bottom:25px; background:#fff; height:10px}
.shop_id .shop_hd ul li { float:left; width:10px;cursor:pointer;height:10px; overflow:hidden; background:url(../images/ico_4.png) no-repeat}
.shop_id .shop_hd ul li.on {text-decoration:underline; background:url(../images/ico_4.png) -10px 0 no-repeat}
.shop_id .shop_hd a { display:none; position:absolute; width:35px; height:51px; cursor:pointer}
.shop_id .shop_hd a.prev { left:63px; top:250px; background-image:url(../images/previous.png);}
.shop_id .shop_hd a.next { right:63px; top:250px; background-image:url(../images/next.png);}
.shop_id:hover .shop_hd a { display:block}

#maincontent {height:455px;overflow:hidden;position:relative;}
#maincontent div.pict {cursor: default !important;}
#maincontent div.main {position: static;text-align: center;display: block;cursor: pointer !important}
.element a { display:none; height:455px; position:absolute; left:0px; background:url(../images/shop_over.png); top:0; width:455px}
.element.atsa a { display:block}
#maincontent .element {display: none;position: absolute !important;}
#maincontent .left {top :200px;left: 0;cursor: pointer;}
#maincontent .right {top: 200px;right: 0;cursor: pointer;}
#maincontent .main .guardian {display: none;height: 0;}
#maincontent .navi {z-index: 9999999;}
div#maincontent div.main{display:none;}div#maincontent div.element{position:absolute !important;}

.shop { height:500px; position:relative}
.shop .shop_bd { height:455px; width:2280px; position:absolute; top:0; left:0}
.shop .shop_bd ul li { float:left; width:456px; height:455px; position:relative}
.shop .shop_bd ul li a { display:none; position:absolute; left:0px; background:url(../images/shop_over.png); top:0; width:455px; text-align:center; padding-top:420px; height:25px; padding-bottom:10px}
.shop .shop_bd ul li.atsa a { display:block}
.shop .shop_hd { position:absolute; top:465px; left:0; width:100%; height:30px}
.shop .shop_hd a.next { cursor:pointer; display:block; float:right; padding-right:40px}
.shop .shop_hd a.prev { cursor:pointer; display:block; float:left; padding-left:40px}

.work_id { width:950px; height:571px; position:relative; background:url(../images/works_fd.jpg)}
.work_id .work_bd { width:864px; height:486px; padding-top:40px; margin:0 auto;}
.work_id .work_bd ul li { width:864px; height:486px; text-align:center; position:relative}
.work_id .work_bd ul li h3 { display:none; width:235px; margin:0 auto; line-height:20px; background:url(../images/ico_3.png); padding:50px 70px; font-size:12px; position:absolute; left:0px; bottom:0px;}
.work_id .work_bd ul li h4 { display:none; position:absolute; left:0px; bottom:0px; width:27px; height:27px; background:url(../images/miaosu.png) 12px 0 no-repeat; cursor:pointer}
.work_id .work_bd ul li h4 a { display:block; height:27px; cursor:pointer}
.work_id .work_bd ul li h4 a:hover { background:url(../images/miaosu2.png) 12px 0 no-repeat}
.work_id .work_bd ul li h5 { display:none; position:absolute; left:0px; bottom:0px; width:27px; height:27px; background:url(../images/miaosu2.png) 12px 0 no-repeat; cursor:pointer}
.work_id .work_bd ul li h5 a { display:block; height:27px; cursor:pointer}

.work_id .shop_hd {}
.work_id .work_hd ul { position:absolute; right:50px; bottom:25px; background:#fff; height:10px}
.work_id .work_hd ul li { float:left; width:10px;cursor:pointer;height:10px; overflow:hidden; background:url(../images/ico_4.png) no-repeat}
.work_id .work_hd ul li.on {text-decoration:underline; background:url(../images/ico_4.png) -10px 0 no-repeat}
.work_id .work_hd a { display:none; position:absolute; width:35px; height:51px; cursor:pointer}
.work_id .work_hd a.prev { left:63px; top:250px; background-image:url(../images/previous.png);}
.work_id .work_hd a.next { right:63px; top:250px; background-image:url(../images/next.png);}
.work_id:hover .work_hd a { display:block}